<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="3">

    <groups>
        <run>
            <exclude name="UI"/>
            <include name="API"/>

        </run>
    </groups>

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="windows"/>
        <parameter name="url" value="http://localhost"/>
        <classes>
            <class name="UI.tests.login_test"/>
        </classes>
    </test>

    <test name="FirefoxTest" enabled="false">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="http://localhost"/>
        <classes>
            <class name="UI.tests.login_test"/>
        </classes>
    </test>

    <test name="EdgeTest" enabled="false">
        <parameter name="browser" value="edge"/>
        <parameter name="url" value="http://localhost"/>
        <classes>
            <class name="UI.tests.login_test"/>
        </classes>
    </test>

    <test name="API_Tests" enabled="true">
        <parameter name="baseURI" value="http://localhost:3004"/>
        <groups>
            <run>
                <include name="API"/>
            </run>
        </groups>
        <classes>
            <class name="api.loginAPI_test"/>
        </classes>
    </test>

</suite>